@charset "UTF-8";

//resposive settings
html {
  font-size: 62.5%;
}
html a {
  text-decoration: none;
}
html img {
  width: 100%;
  vertical-align: bottom;
}
html ul {
  list-style: none;
}
body {
  color: #171717;
  font-family: "Roboto", sans-serif, "Noto Sans JP", sans-serif;
}
/* ---------------- */
/* class
/* ---------------- */
/*link:hover effect*/
.off-page:hover,
.in-page:hover {
  cursor: pointer;
  opacity: 0.6;
  color: white;
}
.container {
  width: 100%;
}
.inner {
  max-width: 1000px;
  margin: 0px auto;
  padding: 55px 20px;
}
.title {
  margin-bottom: 30px;
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.subtitle {
  margin-bottom: 10px;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.text {
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 1.8;
}
.list-title {
  margin: 10px 0px;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.list-text {
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0.05em;
}

/* ---------------- */
/* header
/* ---------------- */
#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-color: #fff;
  a {
    font-size: 1.2rem;
    color: black;
  }
  .inner {
    background-color: #fff;
    margin: 0px auto;
    padding: 20px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    #navi-menu {
      width: 300px;
      display: flex;
      justify-content: space-between;
    }
    #hamburger-button {
      display: none;
    }
  }
}
/* ---------------- */
/* fv
/* ---------------- */
#fv {
  position: relative;
  color: #fff;
  
  .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .title {
      font-size: 4.8rem;
      white-space: nowrap;
      display: inline-block;
    }
  }

  #fv-slick {
    z-index: -1;
    img {
      max-height: 900px;
      object-fit: cover;
    }
  }
}

/* ---------------- */
/* about
/* ---------------- */
#about {
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 375px;
      height: 375px;
    }
    #about-text {
      max-width: 375px;
      margin: 0px 20px;
      #about-list {
        li {
          margin-top: 10px;
          a {
            color: #171717;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
/* ---------------- */
/* skills
/* ---------------- */
#skills {
  background-color: rgba(23, 23, 23, 0.05);
  .title {
    text-align: center;
  }
  #skills-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    li {
      width: 300px;
      margin: 0 10px;
      i {
        margin-bottom: 10px;
      }
      .list-text {
        max-width: 280px;
        margin: 0 auto;
        text-align: left;
        margin-bottom: 40px;
      }
    }
  }
}
/* ---------------- */
/* works
/* ---------------- */
#works {
  .inner {
    .title {
      text-align: center;
    }
    #works-list {
      display: flex;
      justify-content: space-between;
      text-align: center;
      li {
        width: 450px;
        margin: 0 10px;
        background-color: rgba(23, 23, 23, 0.05);
        border: 1px solid rgba(23, 23, 23, 0.05);
        border-radius: 10px;
        a{
          color: black;
        }
        .list-text {
          padding: 10px 15px;
          text-align: left;
        }
      }
    }
  }
}
/* ---------------- */
/* contact
/* ---------------- */
#contact {
  background-color: rgba(23, 23, 23, 0.05);
  .inner {
    .title {
      text-align: center;
    }
    .text {
      font-size: 1.6rem;
      text-align: center;
    }
    form {
      max-width: 400px;
      margin: 0 auto;
      font-size: 1.4rem;
      .contact-list-box {
        background-color: #fff;
        width: 100%;
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 5px;
        margin-bottom: 10px;
      }
      .g-recaptcha div{
        margin: 0 auto 10px;
      }
      .button {
        margin: 0 auto;
        text-align: center;
        width: 120px;
        line-height: 40px;
        background: rgba(7, 85, 97, 0.5);
        border-radius: 30px;
        box-shadow: 0px 0px 6px #1b1310;
        font-weight: bold;
        font-size: 16px;
        color: black;
      }
    }
  }
}
/* ---------------- */
/* footer
/* ---------------- */
footer {
  background-color: rgba(23, 23, 23, 0.05);
  padding: 30px 0px;
  text-align: center;
}

@media (max-width: 767px) {
  /* ---------------- */
  /* header
  /* ---------------- */
  #header {
    background-color: transparent;
    .inner {
      #navi-menu {
        display: none;
      }
      #hamburger-button {
        display: block;
      }
    }
    #hamburger-menu {
      width: 200px;
      margin-left: auto ;
      text-align: left;
      display: block;
      #hamburger-navi-menu {
        list-style: none;
        li {
          margin: 1px auto;
          padding-left: 10px;
          line-height: 30px;
          background-color: #fff;
        }
      }
    }
  }
  /* ---------------- */
  /* fv
  /* ---------------- */
  #fv {
    .inner {
      margin: 50px auto;
      padding: 0 0;
      .title {
        font-size: 3rem;
      }
    }
  }
  /* ---------------- */
  /* about
  /* ---------------- */
  #about {
    .inner {
      display: block;
      .title {
        display: none;
      }
      .about-img {
        text-align: center;
        margin-bottom: 20px;
        img {
          width: 250px;
          height: 250px;
          border-radius: 50%;
        }
      }
      #about-text {
        max-width: 450px;
        margin: 0px auto;
        .title {
          text-align: left;
        }
      }
    }
  }
  /* ---------------- */
  /* skills
/* ---------------- */
  #skills {
    #skills-list {
      display: block;
      li {
        width: 100%;
        margin: 0 auto;
        .list-text {
          max-width: 750px;
          margin-bottom: 40px;
          text-align: center;
          p{
            text-align: left;
          }
        }
      }
    }
  }
  /* ---------------- */
  /* works
/* ---------------- */
  #works {
    .inner {
      #works-list {
        display: block;
        li {
          width: 100%;
          margin: 0 auto;
          margin-bottom: 55px;
          .list-text {
            max-width: 750px;
            margin: 20px auto;
            text-align: left;
          }
        }
      }
    }
  }
}
