@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@400;700&display=swap');

/*settings*/
.container{
  width:100%;
}
a:link, a:visited, a:hover, a:active{
  text-decoration: none;
}
/*header*/
#header{
  background-color: #ffffff;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}
#header-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header-logo{
  display: flex;
  justify-content: space-between;
  width:calc((var(--vw))/1600*120);
  margin-left: calc((var(--vw))/1600*33);

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: calc((var(--vw))/1600*28);
  letter-spacing:calc(10em/1000);
  line-height:calc(28/28);
}
#header-logo-blue{
  color:#019bdf;
}
#header-logo-lightblue{
  color:#30d0ed;
}
#navi{
  width: calc((var(--vw))/1600*840);
}
#navi-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
#navi-menu li{
  color:#333333;
}
#navi-menu li:last-child{
  width:calc((var(--vw))/1600*200);
  height:calc((var(--vw))/1600*80);
  padding-top: calc((var(--vw))/1600*30);
  padding-left:calc((var(--vw))/1600*50);
  background-color: #30d0ed;
  color:#ffffff;
}
#navi-menu li a:link,#navi-menu li a:visited,#navi-menu li a:hover,#navi-menu li a:active{
  text-decoration: none;
  color:#333333;
}
#navi-menu li:last-child a:link,#navi-menu li:last-child a:visited,#navi-menu li:last-child a:hover,#navi-menu li:last-child a:active{
  text-decoration: none;
  color:#ffffff;
}
/*main-visual*/
#main-visual{
  background-image: url("../assets/img/mein-visual.png");
  height:calc((var(--vw))/1600*670);
  background-size: cover;
  text-align: center;
  position: relative;
}
#main-visual-title{
  position: absolute;
  text-align: center;
  top: calc((var(--vw))/1600*223);
  left: calc((var(--vw))/1600*540);

  font-family: "Cormorant Garamond";
  font-weight: normal;
  color:#ffffff;
  font-size: calc((var(--vw))/1600*140);
  letter-spacing:calc(25em/1000);
  line-height:calc(115/140);
}
#main-visual-subtitle{
  position: absolute;
  text-align: center;
  top: calc((var(--vw))/1600*515);
  left: calc((var(--vw))/1600*570);

  font-family: "Noto Sans JP";
  font-weight: normal;
  color:#ffffff;
  font-size: calc((var(--vw))/1600*25);
  letter-spacing:calc(100em/1000);
  line-height:calc(36/25);
}
/*news*/
#news{
  background-color: #EDFCFF;
  height: calc((var(--vw))/1600*235);
  
  padding:calc((var(--vw))/1600*57) calc((var(--vw))/1600*200) 0vw calc((var(--vw))/1600*200);
}
#news-inner{
  display: flex;
  justify-content: space-between;
}
#news-title{
  color:#019bdf;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: calc((var(--vw))/1600*40);
  letter-spacing:calc(25em/1000);
  line-height:calc(40/40);
}
#news-link-list{
  font-family: "Noto Sans JP";
  font-weight: normal;
  color:#333333;
  font-size: calc((var(--vw))/1600*12);
  letter-spacing:calc(75em/1000);
  line-height:calc(24/12);
}
#news-link-list a{
  text-decoration: none;
}
#news-toplist li{
  display: flex;
  width:calc((var(--vw))/1600*1050);
  padding-bottom:calc((var(--vw))/1600*14.3);
  margin-bottom:calc((var(--vw))/1600*10.7);
  border-bottom:calc((var(--vw))/1600*1) solid #30d0ed;

  font-family: "Noto Sans JP";
  font-weight: normal;
  color:#333333;
}
.date{
  font-size: calc((var(--vw))/1600*13);
  letter-spacing:calc(75em/1000);
  line-height:calc(24/13);
}
.field{
  display: table;
  text-align: center;
  margin-right:calc((var(--vw))/1600*34);
  margin-left:calc((var(--vw))/1600*29);
  width: calc((var(--vw))/1600*80);
  height: calc((var(--vw))/1600*18);
  background-color: #019bdf;
  color:#ffffff;
  font-size: calc((var(--vw))/1600*10);
  letter-spacing:calc(75em/1000);
  line-height:calc(24/10);
}
.field div{
  display: table-cell;
  vertical-align: middle;
}
.contains{
  font-size: calc((var(--vw))/1600*13);
  letter-spacing:calc(75em/1000);
  line-height:calc(24/13);
}
/*service*/
#service{
  text-align: center;
  padding:calc((var(--vw))/1600*79) calc((var(--vw))/1600*200) 0vw calc((var(--vw))/1600*200);
}
#service-title{
  color:#019bdf;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: calc((var(--vw))/1600*40);
  letter-spacing:calc(25em/1000);
  line-height:calc(40/40);
}
#service-subtitle{
  margin-bottom: calc((var(--vw))/1600*20);
  color:#019bdf;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: calc((var(--vw))/1600*14);
  letter-spacing:calc(75em/1000);
  line-height:calc(24/14);
}
#service-figlist{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.service-fig{
  width: calc((var(--vw))/1600*380);
  height: calc((var(--vw))/1600*220);
  object-fit: cover;
}
#service-figlist li figure figcaption{
  font-family: "Noto Sans JP";
  font-weight: normal;
  color:#333333;
  font-size: calc((var(--vw))/1600*13);
  letter-spacing:calc(75em/1000);
  line-height:calc(24/13);
}