@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@400;700&display=swap');

/*settings*/
.container{
  width:100%;
}
.inner{
  max-width: 1080px;
  margin: 0 auto;
}
a:link, a:visited, a:hover, a:active{
  text-decoration: none;
}
/*header*/
#header{
  background-color: #ffffff;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}
#header-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header-logo{
  display: flex;
  justify-content: space-between;
  width:120px;
  margin-left: 33px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 28px;
  letter-spacing:0.001em;
  line-height:1;
}
#header-logo-blue{
  color:#019bdf;
}
#header-logo-lightblue{
  color:#30d0ed;
}
#navi-menu{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
#navi-menu li{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height:80px;
  color:#333333;
}
#navi-menu li:last-child{
  width:200px;
  background-color: #30d0ed;
  color:#ffffff;
}
#navi-menu li a:link,#navi-menu li a:visited,#navi-menu li a:hover,#navi-menu li a:active{
  text-decoration: none;
  color:#333333;
}
#navi-menu li:last-child a:link,#navi-menu li:last-child a:visited,#navi-menu li:last-child a:hover,#navi-menu li:last-child a:active{
  text-decoration: none;
  color:#ffffff;
}
/*main-visual*/
#main-visual{
  padding-top:230px;
  background: url("../assets/img/mein-visual.png") no-repeat center 0;
  height:670px;
  background-size: cover;
  text-align: center;
}
#main-visual-title{
  text-align: center;
  font-family: "Cormorant Garamond";
  font-weight: normal;
  color:#ffffff;
  font-size: 140px;
  letter-spacing:0.025em;
  line-height:0.82142;
  margin-bottom: 25px;
}
#main-visual-subtitle{
  text-align: center;
  font-family: "Noto Sans JP";
  font-weight: normal;
  color:#ffffff;
  font-size: 25px;
  letter-spacing:0.1em;
  line-height:1.44;
}
/*news*/
#news{
  background-color: #EDFCFF;
  padding: 60px 0px;
}
#news-inner{
  display: flex;
  justify-content: space-between;
}
#news-title{
  color:#019bdf;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  letter-spacing:0.025em;
  line-height:1;
}
#news-link-list{
  font-family: "Noto Sans JP";
  font-weight: normal;
  color:#333333;
  font-size: 12px;
  letter-spacing:0.075em;
  line-height:2;
}
#news-link-list a{
  text-decoration: none;
}
#news-toplist li{
  display: flex;
  max-width:1048px;
  padding-bottom:14.3px;
  margin-bottom:10.7px;
  border-bottom:1px solid #30d0ed;

  font-family: "Noto Sans JP";
  font-weight: normal;
  color:#333333;
}
.date{
  font-size: 13px;
  letter-spacing:0.075em;
  line-height:1.846153;
}
.field{
  display: table;
  text-align: center;
  margin-right:34px;
  margin-left:29px;
  width: 80px;
  height: 18px;
  background-color: #019bdf;
  color:#ffffff;
  font-size: 10px;
  letter-spacing:0.075em;
  line-height:2.4;
}
.field div{
  display: table-cell;
  vertical-align: middle;
}
.contains{
  font-size: 13px;
  letter-spacing:0.075em;
  line-height:1.846153;
}
/*service*/
#service{
  text-align: center;
  padding:79px 0 0;
}
#service-title{
  color:#019bdf;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  letter-spacing:0.25em;
  line-height:1;
}
#service-subtitle{
  margin-bottom: 20px;
  color:#019bdf;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.75em;
  line-height: 1.714285;
}
#service-figlist{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.service-fig{
  width: 100%;
  height: 220px;
  object-fit: cover;
}
#service-figlist li figure figcaption{
  font-family: "Noto Sans JP";
  font-weight: normal;
  color:#333333;
  font-size: 13px;
  letter-spacing:0.75em;
  line-height:1.714285;
}