@charset "UTF-8";
//resposive settings
html {
  font-size: 62.5%;
}
html a {
  text-decoration: none;
}
html img {
  width: 100%;
  vertical-align: bottom;
}
html ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

/* ---------------- */
/* class
/* ---------------- */
.container {
  width: 100%;
}
.inner {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 20px;
}
.title {
  font-size: 3.6rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 0.666666;
  text-align: center;
}
.subtitle {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 2;
}
.explanation {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 2.142857;
}
/* ---------------- */
/* header
/* ---------------- */
#header {
  width: 100%;
  padding: 2rem 0rem 1.5rem;
  background-color: #1b1310;
  border-bottom: 0.2rem solid #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  #header-inner {
    width: 83.3333333%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    #header-title {
      margin-top: 0.5rem;
      font-size: 1.4rem;
      font-weight: normal;
      letter-spacing: 0.05em;
      line-height: 2.142857;
    }
    #navi-menu {
      width: 26.9rem;
      margin-top: 0.7rem;
      display: flex;
      justify-content: space-between;
      li {
        list-style: none;
        font-size: 1.6rem;
      }
    }
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }
  #hamburger-button {
    display: none;
  }
  #hamburger-menu {
    display: none;
  }
}
/* ---------------- */
/* fv
/* ---------------- */
#fv {
  padding-top: 37.6rem;
  height: 81.4rem;
  background: url("../img/fv-bgi.png") no-repeat center 0;
  background-size: cover;
  text-align: center;
  div {
    max-width: 44.9rem;
    border: 0.2rem solid #ffffff;
    #fv-title {
      margin: 5.5rem auto;
      color: #ffffff;
      font-size: 5rem;
      font-weight: normal;
      letter-spacing: 0.05em;
      line-height: 1.2;
      br {
        display: none;
      }
    }
  }
}
/* ---------------- */
/* about
/* ---------------- */
#about {
  #about-inner {
    margin-top: 11.5rem;
  }
  #about-subtitle {
    margin-top: 7.2rem;
  }
  #about-exp {
    margin-top: 3.2rem;
  }
}
/* ---------------- */
/* service
/* ---------------- */
#service {
  #service-inner {
    margin-top: 17rem;
  }
  #service-list {
    margin-top: 8rem;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      margin-bottom: 4.7rem;
      .text {
        width: 46.6%;
        .subtitle {
          margin-top: 1.5rem;
        }
        .explanation {
          margin-top: 2.8rem;
        }
      }
      figure {
        width: 46.6%;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }

    li:first-child {
      flex-direction: row-reverse;
    }
  }
}
/* ---------------- */
/* news
/* ---------------- */
#news {
  #news-inner {
    margin-top: 16rem;
  }
  #news-list {
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    li {
      width: 31.06796%;
      box-shadow: 0rem 0rem 0.6rem rgba(27, 19, 16, 0.4);
      img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
      }
      .exp {
        padding: 2.1rem 3.2rem 2.1rem 3.4rem;
        font-family: "Noto Sans JP", sans-serif;
        font-size: 1.3rem;
        font-weight: normal;
        letter-spacing: 0.05em;
        line-height: 1.923076;
      }
    }
  }
}
/* ---------------- */
/* contact
/* ---------------- */
#contact {
  font-family: "Noto Sans JP", sans-serif;
  #contact-inner {
    margin-top: 16rem;
    max-width: 700px;
    #contact-title {
      font-size: 2.4rem;
    }
    #contact-list {
      margin-top: 7.2rem;
      list-style: none;
      li {
        margin-bottom: 1.6rem;
        font-size: 1.6rem;
        font-weight: normal;
        letter-spacing: 0.05em;
        line-height: 1.875;
        .contact-list-box {
          width: 100%;
          height: 3rem;
          border: 0.1rem solid #141414;
          padding: 5px 10px;
        }
        .big {
          height: 17.1rem;
        }
      }
    }
    #contact-submit-box {
      margin: 5rem auto;
      width: 23.5rem;
      height: 5.9rem;
      background-color: #1b1310;
      border-radius: 5.1rem;
      box-shadow: 0rem 0rem 0.6rem rgba(27, 19, 16, 0.4);
      text-align: center;
      #contact-submit {
        margin: 1.6rem auto;
        color: #ffffff;
        font-size: 2rem;
      }
    }
  }
}
/* ---------------- */
/* footer
/* ---------------- */
footer {
  padding-top: 2.4rem;
  background-color: #1b1310;
  height: 7.9rem;
  text-align: center;
  #copyright {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: 0.05em;
    line-height: 2.142857;
  }
}

@media (max-width: 768px) {
  .subtitle {
    font-size: 2rem;
  }
  .inner {
    padding: 0 40px;
  }
  /* ---------------- */
  /* header
  /* ---------------- */
  #header {
    #header-inner {
      align-items: center;
      #navi {
        display: none;
      }
    }
    #hamburger-button {
      color: #ffffff;
      display: block;
    }
    #hamburger-menu {
      width: 83.3333333%;
      margin: 0 auto;
      text-align: left;
      display: block;
      #hamburger-navi-menu {
        list-style: none;
        li {
          line-height: 30px;
        }
      }
    }
  }
  /* ---------------- */
  /* fv
  /* ---------------- */
  #fv {
    padding-top: 32rem;
    div {
      max-width: 30rem;
      #fv-title {
        br {
          display: block;
        }
      }
    }
  }
  /* ---------------- */
  /* service
  /* ---------------- */
  #service {
    #service-list {
      li {
        display: block;
        .text {
          width: 100%;
        }
        figure {
          width: 100%;
          margin-top: 1.5rem;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
        &:first-child {
          .subtitle {
            text-align: right;
          }
        }
      }
    }
  }
  /* ---------------- */
  /* news
  /* ---------------- */
  #news {
    #news-inner {
      margin-top: 16rem;
    }
    #news-list {
      margin-top: 8rem;
      display: block;
      li {
        width: 100%;
        margin-bottom: 4.7rem;
        //height: 32.3rem;
        img {
          width: 100%;
          height: 29.5rem;
          object-fit: cover;
        }
      }
    }
  }
}
