html {
  font-size: 62.5%;
}

html a {
  text-decoration: none;
}

html img {
  width: 100%;
  vertical-align: bottom;
}

html ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

/* ---------------- */
/* class
/* ---------------- */
.container {
  width: 100%;
}

.inner {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-size: 3.6rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 0.666666;
  text-align: center;
}

.subtitle {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 2;
}

.explanation {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 2.142857;
}

/* ---------------- */
/* header
/* ---------------- */
#header {
  width: 100%;
  padding: 2rem 0rem 1.5rem;
  background-color: #1b1310;
  border-bottom: 0.2rem solid #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

#header #header-inner {
  width: 83.3333333%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header #header-inner #header-title {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 2.142857;
}

#header #header-inner #navi-menu {
  width: 26.9rem;
  margin-top: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header #header-inner #navi-menu li {
  list-style: none;
  font-size: 1.6rem;
}

#header a {
  color: #ffffff;
  text-decoration: none;
}

#header #hamburger-button {
  display: none;
}

#header #hamburger-menu {
  display: none;
}

/* ---------------- */
/* fv
/* ---------------- */
#fv {
  padding-top: 37.6rem;
  height: 81.4rem;
  background: url("../img/fv-bgi.png") no-repeat center 0;
  background-size: cover;
  text-align: center;
}

#fv div {
  max-width: 44.9rem;
  border: 0.2rem solid #ffffff;
}

#fv div #fv-title {
  margin: 5.5rem auto;
  color: #ffffff;
  font-size: 5rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 1.2;
}

#fv div #fv-title br {
  display: none;
}

/* ---------------- */
/* about
/* ---------------- */
#about #about-inner {
  margin-top: 11.5rem;
}

#about #about-subtitle {
  margin-top: 7.2rem;
}

#about #about-exp {
  margin-top: 3.2rem;
}

/* ---------------- */
/* service
/* ---------------- */
#service #service-inner {
  margin-top: 17rem;
}

#service #service-list {
  margin-top: 8rem;
}

#service #service-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-bottom: 4.7rem;
}

#service #service-list li .text {
  width: 46.6%;
}

#service #service-list li .text .subtitle {
  margin-top: 1.5rem;
}

#service #service-list li .text .explanation {
  margin-top: 2.8rem;
}

#service #service-list li figure {
  width: 46.6%;
}

#service #service-list li figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#service #service-list li:first-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* ---------------- */
/* news
/* ---------------- */
#news #news-inner {
  margin-top: 16rem;
}

#news #news-list {
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

#news #news-list li {
  width: 31.06796%;
  -webkit-box-shadow: 0rem 0rem 0.6rem rgba(27, 19, 16, 0.4);
          box-shadow: 0rem 0rem 0.6rem rgba(27, 19, 16, 0.4);
}

#news #news-list li img {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

#news #news-list li .exp {
  padding: 2.1rem 3.2rem 2.1rem 3.4rem;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 1.923076;
}

/* ---------------- */
/* contact
/* ---------------- */
#contact {
  font-family: "Noto Sans JP", sans-serif;
}

#contact #contact-inner {
  margin-top: 16rem;
  max-width: 700px;
}

#contact #contact-inner #contact-title {
  font-size: 2.4rem;
}

#contact #contact-inner #contact-list {
  margin-top: 7.2rem;
  list-style: none;
}

#contact #contact-inner #contact-list li {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 1.875;
}

#contact #contact-inner #contact-list li .contact-list-box {
  width: 100%;
  height: 3rem;
  border: 0.1rem solid #141414;
  padding: 5px 10px;
}

#contact #contact-inner #contact-list li .big {
  height: 17.1rem;
}

#contact #contact-inner #contact-submit-box {
  margin: 5rem auto;
  width: 23.5rem;
  height: 5.9rem;
  background-color: #1b1310;
  border-radius: 5.1rem;
  -webkit-box-shadow: 0rem 0rem 0.6rem rgba(27, 19, 16, 0.4);
          box-shadow: 0rem 0rem 0.6rem rgba(27, 19, 16, 0.4);
  text-align: center;
}

#contact #contact-inner #contact-submit-box #contact-submit {
  margin: 1.6rem auto;
  color: #ffffff;
  font-size: 2rem;
}

/* ---------------- */
/* footer
/* ---------------- */
footer {
  padding-top: 2.4rem;
  background-color: #1b1310;
  height: 7.9rem;
  text-align: center;
}

footer #copyright {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 2.142857;
}

@media (max-width: 768px) {
  .subtitle {
    font-size: 2rem;
  }
  .inner {
    padding: 0 40px;
  }
  /* ---------------- */
  /* header
  /* ---------------- */
  #header #header-inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header #header-inner #navi {
    display: none;
  }
  #header #hamburger-button {
    color: #ffffff;
    display: block;
  }
  #header #hamburger-menu {
    width: 83.3333333%;
    margin: 0 auto;
    text-align: left;
    display: block;
  }
  #header #hamburger-menu #hamburger-navi-menu {
    list-style: none;
  }
  #header #hamburger-menu #hamburger-navi-menu li {
    line-height: 30px;
  }
  /* ---------------- */
  /* fv
  /* ---------------- */
  #fv {
    padding-top: 32rem;
  }
  #fv div {
    max-width: 30rem;
  }
  #fv div #fv-title br {
    display: block;
  }
  /* ---------------- */
  /* service
  /* ---------------- */
  #service #service-list li {
    display: block;
  }
  #service #service-list li .text {
    width: 100%;
  }
  #service #service-list li figure {
    width: 100%;
    margin-top: 1.5rem;
  }
  #service #service-list li figure img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #service #service-list li:first-child .subtitle {
    text-align: right;
  }
  /* ---------------- */
  /* news
  /* ---------------- */
  #news #news-inner {
    margin-top: 16rem;
  }
  #news #news-list {
    margin-top: 8rem;
    display: block;
  }
  #news #news-list li {
    width: 100%;
    margin-bottom: 4.7rem;
  }
  #news #news-list li img {
    width: 100%;
    height: 29.5rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=style.css.map */