html {
  font-size: 62.5%;
}

html a {
  text-decoration: none;
}

html img {
  width: 100%;
  vertical-align: bottom;
}

body {
  color: #171717;
  font-family: "Montserrat", sans-serif, "Noto Sans JP", sans-serif;
}

/* ---------------- */
/* class
/* ---------------- */
.container {
  width: 100%;
  padding: 60px 0px;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
}

.sec-title {
  margin-bottom: 30px;
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 2.125;
  line-height: 1.194;
  color: #333333;
}

.sec-button {
  width: 160px;
  line-height: 36px;
  background: #000000;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.015em;
  color: #ffffff;
}

/* ---------------- */
/* header
/* ---------------- */
#header {
  padding: 30px 58px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  color: #fff;
}

#header .inner {
  max-width: 1324px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .inner #hamburger-button {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #hamburger-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(34, 34, 34, 0.6);
}

#header #hamburger-menu #hamburger-navi-menu {
  background: rgba(34, 34, 34, 0.95);
  max-width: 520px;
  margin-left: auto;
  list-style: none;
  padding: 180px 0px 0px;
  height: 100vh;
  text-align: center;
}

#header #hamburger-menu #hamburger-navi-menu img {
  width: 42.15px;
  height: 45px;
  margin-bottom: 40px;
}

#header #hamburger-menu #hamburger-navi-menu li {
  margin-bottom: 30px;
}

#header #hamburger-menu #hamburger-navi-menu li a {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.068em;
  color: #ffffff;
}

/* ---------------- */
/* fv
/* ---------------- */
#fv {
  padding: 0px 0px 100px;
  height: 740px;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(45.83%, #ffffff), color-stop(45.83%, #222222), to(#222222));
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 45.83%, #222222 45.83%, #222222 100%);
  color: #fff;
  position: relative;
}

#fv img {
  width: 76.38%;
  height: 640px;
  -o-object-fit: cover;
     object-fit: cover;
}

#fv #fv-text {
  position: absolute;
  top: 21.216%;
  right: 13.472%;
}

#fv #fv-text .sec-subtitle {
  font-size: 2rem;
  font-weight: bold;
  line-height: 0.85;
  margin-bottom: 10px;
}

#fv #fv-text .sec-title {
  color: #fff;
  font-size: 7.2rem;
  font-weight: bold;
  line-height: 1.194;
}

/* ---------------- */
/* about us
/* ---------------- */
#about {
  margin-top: 60px;
}

#about .inner {
  padding: 110px 50px;
  background: url("../img/about-img.png") no-repeat center 0;
  background-size: cover;
}

#about .box {
  max-width: 590px;
  padding: 50px 30px;
  background-color: rgba(255, 255, 255, 0.95);
}

#about .box .sec-title {
  color: #333333;
}

#about .box .box-text {
  margin: 0 auto 30px;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2;
}

/* ---------------- */
/* works & culture
/* ---------------- */
#worksculture-overlay {
  background-color: #f0f0f0;
  padding: 60px 50px;
}

#worksculture-overlay #worksculture-innerlay {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#worksculture-overlay #worksculture-innerlay #works,
#worksculture-overlay #worksculture-innerlay #culture {
  width: 520px;
}

#worksculture-overlay #worksculture-innerlay #works img,
#worksculture-overlay #worksculture-innerlay #culture img {
  margin-bottom: 27px;
}

#worksculture-overlay #worksculture-innerlay #works .img-exp,
#worksculture-overlay #worksculture-innerlay #culture .img-exp {
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 0em;
  margin-bottom: 28px;
}

#worksculture-overlay #worksculture-innerlay #culture {
  margin-left: 60px;
}

/* ---------------- */
/* topics
/* ---------------- */
#topics {
  padding: 60px 50px;
}

#topics .inner {
  text-align: left;
}

#topics .inner #topics-list {
  width: 63.6363%;
  margin-left: auto;
  list-style: none;
  margin-bottom: 30px;
}

#topics .inner #topics-list li {
  border-bottom: 1px solid #dddddd;
}

#topics .inner #topics-list li .topics-list-date {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.015em;
  line-height: 3.2;
}

#topics .inner #topics-list li .topics-list-index {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.001em;
  padding-bottom: 10px;
}

#topics .inner .sec-button {
  display: block;
  margin-left: auto;
}

/* ---------------- */
/* contact
/* ---------------- */
#contact {
  background-color: #f0f0f0;
  padding: 60px 50px 120px;
}

#contact .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: left;
}

#contact .inner img {
  width: 580px;
  height: 390px;
  margin-left: 80px;
}

#contact .inner .contact-text {
  max-width: 440px;
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 0em;
  line-height: 2;
  margin-bottom: 30px;
}

/* ---------------- */
/* footer
/* ---------------- */
footer.container {
  background-color: #525252;
  padding: 18px 0px;
}

footer.container .inner #copyright {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.015em;
  line-height: 3.2;
  color: #ffffff;
}

@media (max-width: 1024px) {
  /* ---------------- */
  /* header
  /* ---------------- */
  #header {
    padding: 33.8px 30px;
  }
  /* ---------------- */
  /* fv
  /* ---------------- */
  #fv {
    padding: 0px 0px 134px;
    height: 1024px;
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(26.8229%, #ffffff), color-stop(26.8229%, #222222), to(#222222));
    background: linear-gradient(90deg, #ffffff 0%, #ffffff 26.8229%, #222222 26.8229%, #222222 100%);
  }
  #fv img {
    width: 78.125%;
    height: 890px;
  }
  #fv #fv-text {
    top: 32.226%;
    right: 10.416%;
  }
  #fv #fv-text .sec-subtitle {
    font-size: 1.6rem;
    font-weight: bold;
  }
  #fv #fv-text .sec-title {
    font-size: 5.6rem;
    font-weight: bold;
    line-height: 0.9464;
  }
  /* ---------------- */
  /* about us
  /* ---------------- */
  #about {
    margin-top: 80px;
  }
  #about .inner {
    padding: 60px 89px;
  }
  #about .box {
    max-width: 590px;
    margin: 0 auto;
    padding: 40px 30px;
  }
  /* ---------------- */
  /* works & culture
  /* ---------------- */
  #worksculture-overlay {
    padding: 60px 30px;
  }
  #worksculture-overlay #worksculture-innerlay {
    max-width: 1100px;
    margin: 0 auto;
    display: block;
  }
  #worksculture-overlay #worksculture-innerlay #culture {
    margin-left: 0px;
    margin-top: 80px;
  }
  /* ---------------- */
  /* topics
  /* ---------------- */
  #topics {
    padding: 40px 30px;
  }
  #topics .inner #topics-list {
    width: 63.6363%;
    margin-left: 0px;
  }
  #topics .inner .sec-button {
    display: block;
    margin-left: 0px;
  }
  /* ---------------- */
  /* contact
  /* ---------------- */
  #contact {
    background-color: #f0f0f0;
    padding: 40px 30px 80px;
  }
  #contact .inner {
    display: block;
  }
  #contact .inner img {
    width: 520px;
    height: 350px;
    margin-left: 0px;
  }
  #contact .inner .contact-inner-box {
    margin-top: 30px;
  }
  #contact .inner .contact-inner-box .contact-text {
    max-width: 510px;
  }
}

@media (max-width: 599px) {
  .container {
    padding: 0;
  }
  /* ---------------- */
  /* header
  /* ---------------- */
  #header {
    padding: 19.8px 15px;
  }
  /* ---------------- */
  /* fv
  /* ---------------- */
  #fv {
    padding: 0px 0px 87px;
    height: 667px;
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(24.5353%, #ffffff), color-stop(24.5353%, #222222), to(#222222));
    background: linear-gradient(90deg, #ffffff 0%, #ffffff 24.5353%, #222222 24.5353%, #222222 100%);
  }
  #fv img {
    width: 76.53%;
    height: 580px;
  }
  #fv #fv-text {
    top: 26.236%;
    right: 5.3333%;
  }
  /* ---------------- */
  /* about us
  /* ---------------- */
  #about {
    margin-top: 78px;
  }
  #about .inner {
    padding: 50px 15px;
  }
  #about .box {
    margin: 0 auto;
    padding: 50px 30px;
  }
  #about .box .box-text {
    font-size: 1.4rem;
  }
  /* ---------------- */
  /* works & culture
  /* ---------------- */
  #worksculture-overlay {
    padding: 40px 15px;
  }
  #worksculture-overlay #worksculture-innerlay #works,
  #worksculture-overlay #worksculture-innerlay #culture {
    width: 100%;
  }
  #worksculture-overlay #worksculture-innerlay #culture {
    margin-left: 0px;
    margin-top: 40px;
  }
  /* ---------------- */
  /* topics
  /* ---------------- */
  #topics {
    padding: 40px 15px;
  }
  #topics .inner #topics-list {
    width: 100%;
    margin-left: 0px;
  }
  #topics .inner #topics-list li #topics .inner #topics-list li .topics-list-date {
    font-size: 0.8rem;
  }
  #topics .inner #topics-list li .topics-list-index {
    font-size: 1.2rem;
  }
  /* ---------------- */
  /* contact
  /* ---------------- */
  #contact {
    background-color: #f0f0f0;
    padding: 40px 15px 40px;
  }
  #contact .inner {
    display: block;
  }
  #contact .inner img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=style.css.map */