@charset "UTF-8";

//resposive settings
html {
  font-size: 62.5%;
}
html a {
  text-decoration: none;
}
html img {
  width: 100%;
  vertical-align: bottom;
}
body {
  color: #171717;
  //欧文フォントに日本語表示できるようなものがないから、
  //欧文フォント→和文フォントの順で読み込むとよい
  font-family: "Montserrat", sans-serif, "Noto Sans JP", sans-serif;
}
/* ---------------- */
/* class
/* ---------------- */
.container {
  width: 100%;
  padding: 60px 0px;
}
.inner {
  max-width: 1100px;
  margin: 0 auto;
}
.sec-title {
  margin-bottom: 30px;
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 2.125;
  line-height: 1.194;
}
.sec-button {
  width: 160px;
  line-height: 36px; //heightをline-heightを使って指定
  background: #000000;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.015em;
  color: #ffffff;
}
/* ---------------- */
/* header
/* ---------------- */
#header {
  padding: 30px 58px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  color: #fff;
  .inner {
    max-width: 1324px;
    display: flex;
    justify-content: space-between;
    #hamburger-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
/* ---------------- */
/* fv
/* ---------------- */
#fv {
  padding: 0px 0px 100px;
  height: 740px;
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 45.83%, #222222 45.83%, #222222 100%);
  color: #fff;
  position: relative;
  img {
    width: 76.38%;
    height: 640px;
    object-fit: cover;
  }
  #fv-text {
    position: absolute;
    top: 21.216%;
    right: 13.472%;
    .sec-subtitle {
      font-size: 2rem;
      font-weight: bold;
      line-height: 0.85;
    }
    .sec-title {
      font-size: 7.2rem;
      font-weight: bold;
      line-height: 1.194;
    }
  }
}
/* ---------------- */
/* about us
/* ---------------- */
#about {
  margin-top: 60px;
  .inner {
    padding: 110px 50px;
    background: url("../img/about-img.png") no-repeat center 0;
    background-size: cover;
  }
  .box {
    max-width: 590px;
    padding: 50px 30px;
    background-color: rgba(255, 255, 255, 0.95);
    .sec-title {
      color: #333333;
    }
    .box-text {
      margin: 0 auto 30px;
      font-size: 1.6rem;
      font-weight: normal;
      line-height: 2;
    }
  }
}
/* ---------------- */
/* works & culture
/* ---------------- */
#worksculture-overlay {
  background-color: #f0f0f0;
  padding: 60px 50px;
  #worksculture-innerlay {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    #works,
    #culture {
      width: 520px;
      img {
        margin-bottom: 27px;
      }
      .img-exp {
        margin-bottom: 28px;
      }
    }
    #culture {
      margin-left: 60px;
    }
  }
}
/* ---------------- */
/* topics
/* ---------------- */
#topics {
  padding: 60px 50px;
  .inner {
    text-align: left;
    #topics-list {
      width: 63.6363%;
      margin-left: auto;
      list-style: none;
      margin-bottom: 30px;
      li {
        border-bottom: 1px solid #dddddd;
        .topics-list-date {
          font-size: 1rem;
          font-weight: bold;
          letter-spacing: 0.015em;
          line-height: 3.2;
        }
        .topics-list-index {
          font-size: 1.4rem;
          font-weight: bold;
          letter-spacing: 0.001em;
          padding-bottom: 10px;
        }
      }
    }
    .sec-button {
      display: block;
      margin-left: auto;
    }
  }
}
/* ---------------- */
/* contact
/* ---------------- */
#contact {
  background-color: #f0f0f0;
  padding: 60px 50px 120px;
  .inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    text-align: left;

    img {
      width: 580px;
      height: 390px;
      margin-left: 80px;
    }
    .contact-text {
      max-width: 440px;
      font-size: 1.6rem;
      font-weight: normal;
      letter-spacing: 0em;
      line-height: 2;
      margin-bottom: 30px;
    }
  }
}
/* ---------------- */
/* footer
/* ---------------- */
footer.container {
  background-color: #525252;
  padding: 18px 0px;
  .inner {
    #copyright {
      text-align: center;
      color: #ffffff;
    }
  }
}
